<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}kitt.art{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <!-- Navigation bar -->
    <header class="nav">
        <a class="brand" href="/">kitt.art</a>

        <!-- Main Links -->
    <nav class="links">
        <a class="{% if active_page=='gallery' %}active{% endif %}" href="/gallery">Art</a>
        <a class="{% if active_page=='blog' %}active{% endif %}" href="/blog">Blog</a>
        <a class="{% if active_page=='commissions' %}active{% endif %}" href="/commissions">Commissions</a>
        <a class="{% if active_page=='projects' %}active{% endif %}" href="/projects">Dev</a>
    </nav>
    
    </header>

  <main class="wrap">
    {% block content %}{% endblock %}
  </main>

   <footer class="footer">
    <small>© {{ year }} kitt.art</small>
  </footer>


  
</body>
</html>
